.list_label {
    grid-area: label;
    font-size: var(--font-small-lg);
    font-weight: 700;
    color: var(--text-color);
}

.image_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.image_list_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.image_list_item:hover {
  background-color: #f0f0f0;
}

.image-list-item.selected {
  border-color: #4338ca;
  background-color: #eef2ff;
}

.image_list_item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.image_list_item span {
  font-size: 0.9rem;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image_list_item .label_count {
  font-size: 0.8rem;
  background-color: #4338ca;
  color: white;
  padding: 2px 6px;
  border-radius: var(--radius-sm);
  min-width: 20px;
  text-align: center;
}