.footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 20px;
    border: var(--border-main);
    border-radius: var(--radius-md);
    color: var(--text-color-secondary);
    background: #141414;
    font-size: 0.86rem;
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
    }
}
